<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="AJT"
    src="assets/AJ-Technologies-logo-4C-smallest-2.png"
  />
  <span>AGCS TAKENS Demo </span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="time">
        <th class="w-75" mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let row"> {{row.time}} s</td>
      </ng-container> 
      <ng-container matColumnDef="Image_40_s">
        <th class="w-300" mat-header-cell *matHeaderCellDef> Potential Events </th>
        <td class="zoom" mat-cell *matCellDef="let row"> 
          <!-- (click)="processRow(row,row.Image_40_s)" -->
          <a >
            <img
              width="900"
              height="320"
              alt=""
              [src]="row.Image_40_s"
              usemap="#imgMap" 
            />
            <map name="imgMap">
              <a (click)="processRow(row,row.Image_40_s)"> 
                <area shape="rect" coords="0,0,100,320" alt="40s" href="#"> 
              </a>
              <a (click)="processRow(row,row.Image_10_s_1)"> 
                <area shape="rect" coords="100,0,300,320" alt="10s1" href="#"> 
              </a>
              <a (click)="processRow(row,row.Image_10_s_2)"> 
                <area shape="rect" coords="300,0,500,320" alt="10s2" href="#"> 
              </a>
              <a (click)="processRow(row,row.Image_10_s_3)"> 
                <area shape="rect" coords="500,0,700,320" alt="10s3" href="#"> 
              </a>
              <a (click)="processRow(row,row.Image_10_s_4)">
                <area shape="rect" coords="700,0,900,320" alt="10s4" href="#"> 
              </a>
              <!-- {{row.Image_10_s_4}}  This is printing correctly-->
            </map>
          </a> 
                 
        </td>
      </ng-container>
     

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let row"> 

          <mat-button-toggle-group             
            (change)="onChange($event, row)"
            value="?" vertical="true">
            <mat-button-toggle class="my-toggle-button" value="Yes">Yes</mat-button-toggle>
            <mat-button-toggle class="my-toggle-button" value="?">?</mat-button-toggle>         
            <mat-button-toggle class="my-toggle-button" value="No">No</mat-button-toggle>
          </mat-button-toggle-group>
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="example-spacer"></span>
          <button mat-raised-button color="primary" (click)=removeNonSeizure()>Update</button> 
      </mat-toolbar-row>
    </mat-toolbar>
   
  </div>
</div>
  <!--Footer Section-->
  <div class="text-inside-grid" >
    <mat-card class="text-inside-grid">      
      <mat-card-subtitle>Summary of the data </mat-card-subtitle>

      <mat-grid-list cols="2" rowHeight="30px"  >
        <mat-grid-tile  > 
          <div class="text-inside-grid"  > 
            Total time EEG Data:                    
            &nbsp;&nbsp;{{agcsData?.Footer.EEG_total_time_seconds}} seconds 
          </div>
        </mat-grid-tile>
        <mat-grid-tile > 
          <div class="text-inside-grid" >           
            Percent of Record requiring review:                   
              &nbsp;&nbsp;{{agcsData?.Footer.Total_review_percent.toFixed(2)}}%           
          </div>
        </mat-grid-tile>
        <mat-grid-tile > 
          <div class="text-inside-grid" > 
            EEG to review:                     
            &nbsp;&nbsp;{{agcsData?.Footer.EEG_investigate_time_seconds}} seconds 
          </div>
        </mat-grid-tile>       

        <mat-grid-tile>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    
  </div>



<router-outlet></router-outlet>