<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="AJT"
    src="assets/AJ-Technologies-logo-4C-smallest-2.png"
  />
  <span>AGCS TAKENS Demo </span>
    <div class="spacer"></div>
</div>



<div class="content" role="main">

  <h2> Analysis of {{agcsData.Header.EEG_filename}} EEG file </h2>
  <!--Header Section-->
  <div fxLayout="row" fxLayoutAlign="space-between center" > 
    <a class="zoom" (click)="openImage(agcsData.Header.Metric_1_image)">
      <img
        width="400"
        alt=""
        [src]="agcsData.Header.Metric_1_image" 
      />
    </a>
    <a class="zoom" (click)="openImage(agcsData.Header.Metric_2_image)">
      <img
        width="400"
        alt=""
        [src]="agcsData.Header.Metric_2_image" 
      />
    </a>
  </div>

  <!--Table-->
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="time">
        <th class="w-150" mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let row"> {{row.time}} seconds</td>
      </ng-container>

      <ng-container matColumnDef="Image_40_s">
        <th class="w-150" mat-header-cell *matHeaderCellDef> EEG Signals +/-20s </th>
        <td class="zoom" mat-cell *matCellDef="let row"> 
          <a (click)="openImage(row.Image_40_s)">
            <img
              width="100"
              alt=""
              [src]="row.Image_40_s" 
            />
          </a>  
            
        </td>
      </ng-container>
      <ng-container matColumnDef="Image_10_s_1">
        <th class="w-150" mat-header-cell *matHeaderCellDef> 10s - 1 </th>
        <td class="zoom" mat-cell *matCellDef="let row"> 
          <a (click)="openImage(row.Image_10_s_1)">
            <img
              width="80"
              alt=""
              [src]="row.Image_10_s_1" 
            />
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="Image_10_s_2">
        <th class="w-150" mat-header-cell *matHeaderCellDef> 10s - 2 </th>
        <td class="zoom" mat-cell *matCellDef="let row"> 
          <a (click)="openImage(row.Image_10_s_2)">
            <img
              width="80"
              alt=""
              [src]="row.Image_10_s_2" 
            />
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="Image_10_s_3">
        <th class="w-150" mat-header-cell *matHeaderCellDef> 10s - 3 </th>
        <td class="zoom" mat-cell *matCellDef="let row"> 
          <a (click)="openImage(row.Image_10_s_3)">
            <img
              width="80"
              alt=""
              [src]="row.Image_10_s_3" 
            />
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="Image_10_s_4">
        <th class="w-150" mat-header-cell *matHeaderCellDef> 10s - 4 </th>
        <td class="zoom" mat-cell *matCellDef="let row"> 
          <a (click)="openImage(row.Image_10_s_4)">
            <img
              width="80"
              alt=""
              [src]="row.Image_10_s_4" 
            /> 
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th  mat-header-cell *matHeaderCellDef> Seizure? </th>
        <td mat-cell *matCellDef="let row"> 
          <mat-slide-toggle
              class="example-margin"
              color="warn"
              >           
          </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
  <!--Footer Section-->
  <div class="left">
    <mat-card class="left">      
      <mat-card-subtitle>Summary of the data </mat-card-subtitle>

      <mat-grid-list class="left" cols="2" rowHeight="30px">
        <mat-grid-tile> 
          <mat-card-subtitle>
            Total time EEG Data: 
          </mat-card-subtitle>
          <mat-card-content>           
            &nbsp;&nbsp;{{agcsData.Footer.EEG_total_time_seconds}} seconds 
          </mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile> 
          <mat-card-subtitle>
            Percentage of time spend reviewing: 
          </mat-card-subtitle>
          <mat-card-content>           
            &nbsp;&nbsp;{{agcsData.Footer.Total_review_percent}}
          </mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile> 
          <mat-card-subtitle>
            Time to review EEG: 
          </mat-card-subtitle>
          <mat-card-content>           
            &nbsp;&nbsp;{{agcsData.Footer.EEG_investigate_time_seconds}} seconds 
          </mat-card-content>
        </mat-grid-tile>
        

        <mat-grid-tile>

        </mat-grid-tile>
      </mat-grid-list>
      
      <!-- <div fxLayout="row" fxLayoutAlign="space-between center" > 
        <div >
          <mat-card-subtitle>Total time EEG Data: </mat-card-subtitle> <p>{{agcsData.Footer.EEG_total_time_seconds}}</p>
          <mat-card-subtitle>Time to review EEG: </mat-card-subtitle>
        </div>
        <div >
          <mat-card-subtitle>Percentage of time spent: </mat-card-subtitle>
        </div>
      </div> -->
    </mat-card>
    
  </div>



<router-outlet></router-outlet>