<mat-card fxLayout="row" fxLayoutAlign="center center">
  <mat-table #table [dataSource]="dataSource" class="tableStyle" fxFlex="40">
    <ng-container matColumnDef="icon">
      <mat-header-cell class="pc-5"  *matHeaderCellDef> </mat-header-cell>
      <mat-cell class="pc-5" *matCellDef="let row"> 
        <mat-icon>text_snippet</mat-icon>
      </mat-cell>
    </ng-container> 
    <ng-container matColumnDef="name">
      <mat-header-cell  *matHeaderCellDef> File Name </mat-header-cell>
      <mat-cell class="zoom"  *matCellDef="let row">           
        {{row.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell  *matHeaderCellDef>  </mat-header-cell>
      <mat-cell class="pc-15" *matCellDef="let row"> 
        <button *ngIf="!row.processed" mat-mini-fab color="primary" (click)=processFile(row)>
          <mat-icon>play_arrow</mat-icon>
        </button>
        <p  *ngIf="row.processed"> Processing...</p>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
